.postitCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-height: calc(100vh - 20px);
  overflow-y: scroll;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .postitCont{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}